!config/

# Folders to ignore, whatever the place they are
classes
*/gensrc/*
**/jalo/**

# Filename patterns to ignore
*.class
extensioninfo.xsd
hmc.xsd
items.xsd
beans.xsd
platformhome.properties
*testclasses.xml
.project
.springBeans
.classpath
.jar

config/hybris4intellij.properties
build.xml

#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar

**/.settings/**
**/lib/**
**/.classpath /**

**/tcServer/**
**/tomcat/**
**/.externalToolBuilders/**
**idea**